.introduction   {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.page-title {
    height: 3vh;
    width: 95%;
    padding: 3.5vh;
}

.main-page  {
    padding-left: 3vh;
    padding-right: 3vh;
    height: 55vh;
    width: 95%;
    display: flex;
}

.title  {
    height: 100%;
    margin-left: 10%;
    font-size: 4vh;
}