body {
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-y: auto;
}

.products {
    display: flex;
    position: relative;
    left: 30vh;
    flex-wrap: wrap;
    width: calc(100vw - 27vh);
}
.filter_bar {
    padding: 3vh;
}

input[type = text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #EAC7C7;
    border-radius: 50px;
    background-color: rgb(217, 173, 180);
    color: black;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border: 2px solid black;
}

button:hover   {
    color: #EAC7C7;
    background-color: rgb(116, 116, 116);
    border: 2px solid rgb(217, 173, 180);
}

button[name=button1] {
    width: 10%;
}
button[name=button2] {
    width: 75%;
}
button:hover {
    opacity: 0.8;
}

label > input[type="checkbox"] {
    display: none;
}

label > input[type="checkbox"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.3rem;
    border-radius: 10%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: gray;
    flex-shrink: 0;
  
}

label > input[type="checkbox"]:checked + * {
    color: rgb(228, 170, 203);
  
}

input[type="checkbox"]:checked + *::before {
    color: white;
    text-align: center;
    background: rgb(228, 170, 203);
}

input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background-color: rgb(255, 245, 238);
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background:  rgb(228, 170, 203);
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid rgb(228, 170, 203);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #ebb4df;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgb(228, 170, 203);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: rgb(228, 170, 203);
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid rgb(228, 170, 203);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #ebb4df;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: rgb(228, 170, 203);
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: rgb(228, 170, 203);
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid rgb(228, 170, 203);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #ebb4df;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: rgb(228, 170, 203);
  }
  input[type=range]:focus::-ms-fill-upper {
    background:rgb(228, 170, 203);
  }
  

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: rgb(228, 170, 203);    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: rgb(228, 170, 203);  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color:rgb(228, 170, 203);
}

.filter_bar {
    background-color: rgb(255, 245, 238);
}